/*----------------------------------------------Text--------------------------------------------*/
header nav ul li a {
  font-family: "Inter";
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ff5e3a;
}
.text-container h1 {
  font-family: "Sora";
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
}
.text-container p {
  font-family: "Outfit";
  font-weight: 400;
  font-style: Regular;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
}
/*----------------------------------------------Text--------------------------------------------*/
.res-btn {
  display: none;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 80px;
  gap: 40px;
}
.logo-container {
  max-width: 150px;
  min-height: 100px;
}

header nav {
  width: 80%;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav ul li {
  border-radius: 12px;
  padding: 10px;
  border: 1px solid #dadada;
}
/* ---------------------------------------HeroSec------------------------------------------- */
.hero-sec-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
}
.text-container {
  grid-column: 1/2;
  grid-row: 1/2;
  place-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 400px;
  border: 1px solid #dadada;
  border-radius: 16px;
  padding: 20px;
}
.Hero-container {
  position: relative;
  grid-column: 2/3;
  grid-row: 1/3;
}

.hero-container-img-cartoon {
  position: absolute;
  top: 34%;
  right: -3%;
  transform: rotate(-90deg);
  max-width: 140px;
  height: 90px;
}
/*----------------------------------------------Res--------------------------------------------*/
@media screen and (max-width: 990px) {
  header {
    justify-content: space-between;
    padding: 10px 20px;
  }
  .res-btn {
    display: flex;
  }
  .res-btn button {
    background: none;
    border: 1px solid #ff5e3a;
    border-radius: 12px;
    padding: 4px;
    transition: all 0.3s ease-out;
    transform: rotateY(0);
  }
  .close-menu {
    display: none;
  }
  header nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    top: 120px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #ff5e3a;
    border-top: 1px solid #ff5e3a;
    height: max-content;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none;
    z-index: 999;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    height: 100%;
    background-color: #ffffff;
  }
  .logo-container {
    transform: translateX(-40vw);
  }
}
@media screen and (max-width: 768px) {
  .logo-container {
    max-width: 120px;
    min-height: 100px;
    transform: translateX(-40dvw);
  }
}
@media screen and (max-width: 600px) {
  .logo-container {
    transform: translateX(-35dvw);
  }
}
@media screen and (max-width: 425px) {
  /* ------------------text----------------- */
  header nav ul li a {
    font-family: "Inter";
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ff5e3a;
  }
  /* ------------------text----------------- */
  .logo-container {
    transform: translateX(-30dvw);
  }
}
/*----------------------------------------------Res--------------------------------------------*/
